@model IEnumerable<WebFazendaSerrana.Models.Praga>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCientifico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePopular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstacaoAno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataUltimaPraga)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCientifico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePopular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstacaoAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUltimaPraga)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Codigo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Codigo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
