@model WebFazendaSerrana.Models.Cultura

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cultura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TempoMaximo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TempoMaximo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MesIdeal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MesIdeal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MesFinal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MesFinal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Codigo" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
