@model WebFazendaSerrana.Models.Cultura

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cultura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TempoMaximo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TempoMaximo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MesIdeal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MesIdeal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MesFinal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MesFinal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Codigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
